@page "/admincontrol"
@using MobileTrolleyTours.Data;
@using MobileTrolleyTours.Models.Enums;

<div class="main-container">

    <div class="alert-section">
        <h2>Alert Box Header</h2>
        <p>
            @ScheduleAlertService.GetAlertBoxHeader().Description;
        </p>
    </div>

    <div class="alert-section">
        <h2>Alert Box Sub Header</h2>
        <p>
            @ScheduleAlertService.GetAlertBoxSubHeader().Description;
        </p>
    </div>

    <div class="alert-section">
        <h2>Alert Box Items</h2>

        @{
            var alerts = ScheduleAlertService.GetAllAlerts();

            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Notice</th>
                <th>Date to Apply Alert</th>
                <th>Date to Hide Alert</th>
                <th>Alert Status</th>
            </tr>

            @foreach (var alert in alerts)
                {
                    string backgroundColor = "none";

                    if (alert.Status == ScheduleAlertStatus.Active)
                    {
                        backgroundColor = "lightgreen";
                    }
                    else if (alert.Status == ScheduleAlertStatus.Pending)
                    {
                        backgroundColor = "lightyellow";
                    }

                <tr class="alert-box-item" style="background-color:@backgroundColor">
                    <td>
                        @String.Format("{0:dddd, MMMM d, yyyy}", alert.StartDate)
                    </td>
                    <td>
                        @String.Format("{0:dddd, MMMM d, yyyy}", alert.EndDate)
                    </td>
                    <td>
                        @alert.Description
                    </td>
                    <td>
                        @String.Format("{0:dddd, MMMM d, yyyy}", alert.ApplyDate)
                    </td>
                    <td>
                        @String.Format("{0:dddd, MMMM d, yyyy}", alert.RevokeDate)
                    </td>
                    <td>
                        @alert.Status.ToString()
                    </td>
                </tr>
            }

        }

    </div>

    <div class="alert-section">
        <h2>Alert Box Footer</h2>
        <p>
            @ScheduleAlertService.GetAlertBoxFooter().Description;
        </p>
    </div>

</div>

    @code {

    }

